.card {
  max-width: 100%;
  background: #444444;
  box-shadow: -5px -5px 13px #565656, 5px 5px 13px #323232;
  border-radius: 11px;
  padding: 1rem;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.card__image-container {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card--image-load {
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  animation: load 1500ms linear infinite alternate;
}

.card__title {
  font-weight: 600;
  font-size: 2.2rem;
  color: #eeeeee;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 2.7rem; /* fallback */
  max-height: 5.4rem;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  color: #d6d6d6;
  text-transform: uppercase;
}

.card__rating {
  font-size: 1.2rem;
  background-color: #007d5c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0.3rem 1rem;
  border-radius: 4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

@keyframes load {
  0% {
    background: rgba(54, 54, 54, 0.5);
  }

  50% {
    background: rgba(64, 64, 64, 0.8);
  }

  100% {
    background: rgba(54, 54, 54, 0.5);
  }
}
